.packages {
    background: white;
    padding: 20px;
}

.packages h3 {
    padding: 20px;
}

#PricingPackage {
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    margin: 20px;
}

#PricingPackage h4 {
    background: #3337cf;
    color: white;
    border-bottom: 1px solid black;
    margin: 0;
    padding: 20px;
    border-top-right-radius: 19px;
    border-top-left-radius: 19px;
}

.package-content {
    display: flex;
}

.package-content p {
    text-align: center;
    flex-grow: 1;
}